body{
    background-color: rgb(221, 255, 243);

  
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}
#fora{
    border: none;
    background-color: white;
}
button{
    border: 0px solid black;
    color: white;
    background-color: #0B5ED7;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
    background-color: #0B5ED7;
    border-radius: 5px;
    width: 75%;
}
@media screen and (min-width: 1080px) {
    body {
       margin: 10%;
    
    }
    a{
        
        width: 35%;
        margin-bottom: 1%;
        padding: 1%;
        width: 75%;
    }
    
}
@media screen and (max-width: 1080px) {
    body{
        margin: 5%;
    }
    a{
      
        width: 75%;
        margin-bottom: 1%;
        height: 20%;
        padding: 10%;
    }
    
table td{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(224, 245, 168);
}
